/* common style  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-color {
    color: #FF42A5;
}

.left-right-grid {
    padding: 0 140px;
}

.btn-primary {
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    border: none;
    font-size: 12px;
    color: white;
    font-weight: 700;
    padding: 10px 25px;
    margin-right: 15px;
}

/* - - -- -  - - - ----------------------------- */
/* navigation bar  */
.navigation {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
}

nav div ul {
    list-style: none;
}

ul a {
    text-decoration: none;
    color: rgb(15, 15, 15);
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo li a {
    font-size: 26px;
    font-weight: 700;
}

.nav-right,
ul {
    display: flex;
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.follow-us {
    display: flex;
    /* justify-items: center; */
    background-color: rgb(224, 224, 224);
    gap: 15px;
    padding: 8px 15px;
    border-radius: 5px;
}

/* navigation bar end  */

/* hero area start  */
.hero-area {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
}

.hero-area-title {
    font-size: 28px;
    font-weight: 700;
    color: #0B0223;
}

.goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 55px;
    font-weight: 900;
}

.hero-area-description {
    color: #534C64;
    margin-bottom: 5px;
}

.right-side-heroarea img {
    width: 400px;
}

.hero-area-btn {
    margin-top: 20px;
}

.sign-in {
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    border: none;
    font-size: 12px;
    color: white;
    font-weight: 700;
    padding: 10px 25px;
    margin-right: 15px;
}

.go-rogue {
    background: #4EC5F7;
    border-radius: 48px;
    border: none;
    font-size: 12px;
    color: white;
    font-weight: 700;
    padding: 10px 25px;
    margin-right: 20px;
}

/* hero area end  */

/* we are gamer style start  */
.we-are-gamer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}

.we-are-gamer-img img {
    width: 550px;
}

.we-are-gamer-content {
    text-align: end;
}

.we-are-gamer-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 15px;
}

.we-are-gamer-description {
    color: #534C64;
    font-size: 14px;
    margin-bottom: 15px;
}

.we-are-gamer-quote {
    color: #534C64;
}

.unleash {
    font-weight: 900px;
    font-size: 20px;
    margin-top: 10px;
}

.know-more {
    margin-bottom: 20px;
}

/* we are gamer section end */


/* online games style start  */
.online-games-content {
    text-align: center;
}

.online-games-title {
    font-size: 40px;
    font-weight: 900;
}

.funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 900;
}

.online-games-card {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.online-games-card div img {
    width: 220px;
}

.card-text {
    width: 220px;
}

/* online games style end  */

/* play instant section start  */
.play-instant {
    display: flex;
    align-items: center;
    gap: 200px;
    margin-top: 50px;

}

.play-instant-content {
    text-align: right;
}

.play-instant-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 32px;
}

.play-instant-caption {
    font-weight: 900;
    font-size: 32px;
}

.play-instant-description {
    font-size: 14px;
    color: #424242;
}

.play-instant-big-img {
    width: 380px;
}

.play-instant-small-img {
    width: 200px;
    height: 210px;
    position: absolute;
    right: 400px;
    top: 1500px;
    overflow: hidden;
}

/* play instant section end */


/* ----- ---------------------------- --- - -- - - -- - - --  */
/* Responsive media query for mobile device */
@media screen and (max-width:576px) {

    .navigation,
    .logo,
    .nav-right,
    .nav-right>ul {
        display: flex;
        flex-direction: column;
    }

    .navigation {
        background: none;
        box-shadow: none;
        margin-top: 50px;
        padding: 0;
    }


    /* hero area  */
    .hero-area {
        display: flex;
        justify-content: center;
        margin-top: 230px;
        flex-direction: column-reverse;
        gap: 50px;
    }

    .right-side-heroarea img {
        width: 300px;
    }

    .left-side-heroarea {
        background-color: #fadfef7e;
        padding: 20px 50px;
        margin: 0 60px;
        border-radius: 5px;
    }

    .hero-area-btn {
        display: flex;
    }

    .sign-in,
    .go-rogue {
        border-radius: 48px;
        border: none;
        font-size: 10px;
        color: white;
        font-weight: 700;
        padding: 8px 30px;
    }

    /* hero area end  */

    /* we are gamer section start  */
    .we-are-gamer {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .we-are-gamer-title {
        font-size: 20px;
    }

    .we-are-gamer-img img {
        width: 100%;
    }

    .we-are-gamer-content {
        text-align: center;
        padding: 0 50px;
    }

    /* we are gamer section end  */

    /* online game start */
    .online-games {
        padding: 0 50px;
        margin-top: 50px;
    }

    .online-games-title,
    .funny-videos {
        font-size: 16px;
        font-weight: 900;
    }

    .online-games-caption {
        color: rgb(105, 105, 105);
        margin-top: 10px;
        font-size: 10px;
    }

    .online-games-card {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    /* online games section end  */

    /* play instant section start  */
    .play-instant {
        display: flex;
        flex-direction: column;
        padding: 0 50px;
        gap: 2rem;
    }

    .play-instant-content {
        text-align: center;
    }

    .play-instant-title,
    .play-instant-caption {
        font-size: 1.5rem;
    }

    .play-instant-description {
        margin-top: 10px;
    }

    .play-instant-big-img {
        width: 100%;
    }

    .play-instant-small-img {
        display: none;
    }

}